@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Passions+Conflict&family=Qwitcher+Grypen:wght@400;700&display=swap");
:root {
  --color01: #f3ecd9;
  --color02: #ff0b28;
  --color03: #7e806a;
  --color04: #172121;
  --color05: #fefffa;
}

html {
  background-color: var(--color01);
  color: var(--color04);
  font-family: "Impact", serif, sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: normal;
  max-width: 1600px;
  margin: 0 auto;
}

body {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  overflow-y: auto;
  padding: 0rem 1rem;
}

/* header styles  */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px var(--color02) solid;
  color: var(--color02);
  min-height: 200px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
}

nav {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#menu-icon {
  margin-top: 0.75rem;
  width: 100%;
  font-size: 1.75rem;
  line-height: 1.75rem;
  text-align: center;
  border-bottom: 1px var(--color02) solid;
  padding-bottom: 1rem;
  color: var(--color04);
  text-transform: uppercase;
}

#menu-icon:hover {
  cursor: pointer;
  color: var(--color02);
}

.logo {
  width: 300px;
}

.company_name {
  flex-grow: 1;
  text-align: center;
  font-size: 5rem;
  line-height: 4.5rem;
}

/* Mobile Menu */

#mobile-menu {
  width: 100%;
  overflow: hidden;
  color: black;
  transition: height 0.3s ease-in-out, margin 0.3s ease-in-out;
}

#mobile-menu.active {
  height: fit-content;
  max-height: none;
  margin-top: 1rem;
  padding: 0;
  /* border-bottom: 1px var(--color02) solid; */
}

#mobile-menu ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.75rem;
}

#mobile-menu ul li {
  width: 100%;
}

#mobile-menu a {
  width: 100%;
  color: var(--color04);
  font-size: 1.75rem;
  line-height: 1.75rem;
  text-decoration: none;
  text-transform: uppercase;
}

#mobile-menu a:hover {
  color: var(--color02);
}

#mobile-menu a:active,
#mobile-menu a.active {
  color: var(--color02);
}

.center {
  text-align: center;
  align-self: center;
}

/* Main Content Styles */

main {
  background-color: var(--color01);
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  gap: 1rem;
}

.pageText {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: "Roboto", serif;
  font-weight: 400;
}

.pageText h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 1.2rem;
}

.pageText h3 {
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin-bottom: 0.75rem;
}

.pageText p {
  margin-bottom: 1.5rem;
}

.portfolio_pic > img {
  width: 100%;
  max-width: 390px;
  min-width: 200px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 40%;
}

.photo-gallery {
  display: grid;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
}

.photo-gallery > .photo-container {
  max-height: calc(100vh / 2.39);
  overflow: hidden;
  position: relative;
  background: black;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.photo-gallery > .photo-container:hover {
  opacity: 0.85;
}

.photo-gallery > .photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Contact Page Quote Styles */

quote {
  margin-top: 1rem;
}

.signature {
  font-family: "Qwitcher Grypen", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.75rem;
  margin-top: 1.5rem;
  line-height: 0;
  margin-bottom: 0;
  margin-left: 3rem;
}

.signature p {
  margin-bottom: 0;
}

.signatureTitle {
  font-size: 1rem;
  margin-left: 5rem;
}

/* Video Styles  */

.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #000;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  display: block;
}

/* Video text styles */

#video-text-display article {
  background-color: rgb(90, 90, 90, 0.3);
  padding: 1rem;
}

#video-text-display h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}

#video-text-display p {
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
}

/* Footer Styles  */

footer {
  border-top: 1px var(--color02) solid;
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: 20px;
}

.social-links img {
  height: 100%;
  width: auto;
}

/* Overlay styles  */

.video-gallery > .photo-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.photo-container:hover .overlay {
  opacity: 1;
}

/* Contact Form Styles */

.container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 1rem;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
}

#contactForm {
  background: var(--color03);
  padding: 20px;
  border-radius: 0px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid var(--color04);
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: var(--color04);
}

.form-group input,
.form-group textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color04);
  border-radius: 0px;
  font-size: 1rem;
  background-color: var(--color01);
  color: var(--color04);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: background-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
  background-color: var(--color05);
  outline: none;
}

.form-group textarea {
  resize: vertical;
  height: 150px;
}

.form-group button {
  width: 100%;
  padding: 15px;
  font-family: inherit;
  transition: background-color 0.3s;
  border: none;
}

.form-group button:hover {
  background-color: var(grey);
}

@media (min-width: 1200px) {
  /* .photo-gallery {
        grid-template-columns: auto auto auto;
    } */
}

@media (min-width: 834px) {
  /* desktop menu here */
  #menu-icon {
    display: none;
  }
  #mobile-menu {
    height: fit-content;
  }
  #mobile-menu ul {
    margin-top: 0.75rem;
    flex-direction: row;
    border-bottom: 1px var(--color02) solid;
    padding-bottom: 1rem;
  }
  .photo-gallery {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 834px) {
  #menu-icon {
    display: block;
  }
  #mobile-menu {
    height: 0;
  }
  .photo-gallery {
    grid-template-columns: auto;
  }
  .company_name {
    /* display: none; */
    font-size: 4rem;
    line-height: 3rem;
  }
  .logo {
    max-width: 250px;
    height: auto;
  }
  .portfolio_pic {
    margin: 0 auto;
  }
}

@media (max-width: 532px) {
  .photo-gallery {
    grid-template-columns: auto;
  }
  .company_name {
    /* display: none; */
    font-size: 3.5rem;
    line-height: 3rem;
  }
  .logo {
    max-width: 200px;
    height: auto;
  }
}
