:root {
    --primary-color: #C94B34;
    --secondary-color: #7E806A;
    --primary-text-color: #172121;
    --primary-background-color: #F2E8CF;
}

html {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: 'Alatsi', serif, sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: normal;
}

header {
    background-color: var(--primary-color);
}

main {
    background-color: var(--secondary-color);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
}

.logo {
    max-width: 100%;
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: var(--primary-color);
    padding: 1rem;
}