@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  background: $dark;
  color: $primary;
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: $font-heading;
  letter-spacing: 0.5px;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

img {
  max-width: 100%;
  display: block;
}